<!-- JSON-LD Structured Data for Blog -->
{{- $author := .Site.Params.author.name -}}
{{- $siteTitle := .Site.Title -}}
{{- $siteURL := .Site.BaseURL -}}
{{- $description := .Description | default .Site.Params.Subtitle -}}
{{- $image := .Params.image | default .Site.Params.og_image -}}

{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  "description": {{ $description | jsonify }},
  "image": [
    {{ $image | absURL | jsonify }}
  ],
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ $author | jsonify }},
    "email": {{ .Site.Params.email_url | replace "mailto:" "" | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ $siteTitle | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Site.Params.brand_image | absURL | jsonify }}
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  "keywords": {{ delimit .Params.tags ", " | jsonify }},
  "wordCount": {{ .WordCount }},
  "inLanguage": "{{ .Site.Language.Lang }}"
}
</script>
{{- else if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ $siteTitle | jsonify }},
  "description": {{ .Site.Params.Subtitle | jsonify }},
  "url": {{ $siteURL | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ $author | jsonify }},
    "email": {{ .Site.Params.email_url | replace "mailto:" "" | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ $siteTitle | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Site.Params.brand_image | absURL | jsonify }}
    }
  }
}
</script>
{{- end -}}

<!-- BreadcrumbList structured data -->
{{- if ne .URL "/" -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": {{ $siteURL | jsonify }}
    }{{- if and (eq .Section "posts") (not .IsHome) -}},
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Blog",
      "item": {{ ($siteURL | default "/") | printf "%s/posts/" | jsonify }}
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": {{ .Title | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }{{- end -}}
  ]
}
</script>
{{- end -}}